body
{
    background-color: white;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 300;
}

.backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000cc;
}

.btn-dip-shop {
    font-size: 30px!important;
}

a.footer-link:hover {
    text-decoration: underline;
}

.ad-block {
    min-height: 450px;
    max-height: 450px;
}

.ad-block .ad-block-item {
    min-height: 450px;
    max-height: 450px;
}

.ad-block .ad-block-mini {
    min-height: 225px;
    max-height: 225px;
}

.ad-block .ad-block-right {
    min-height: 450px;
    max-height: 450px;
}