body
{
    background-color: white;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 300;
}

.backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000cc;
}

.btn-dip-shop {
    font-size: 30px!important;
}

a.underline-link:hover {
    text-decoration: underline;
}

.h-100-vh {
    height: 100vh;
}

.h-75-vh {
    height: 75vh;
}

.h-50-vh {
    height: 50vh;
}

.h-25-vh {
    height: 25vh;
}

.transition-250 {
    transition: .25s;
}

.transition-500 {
    transition: .5s;
}

.transition-750 {
    transition: .75s;
}

.transition-1000 {
    transition: 1s;
}

.transition-1250 {
    transition: 1.25s;
}

.transition-1500 {
    transition: 1.5s;
}

.transition-1750 {
    transition: 1.75s;
}

.transition-2000 {
    transition: 2s;
}

.f-size-12 {
    font-size: 12px!important;
}

.f-size-14 {
    font-size: 14px!important;
}

.f-size-16 {
    font-size: 16px!important;
}

.f-size-18 {
    font-size: 18px!important;
}

.f-size-20 {
    font-size: 20px!important;
}

.f-size-22 {
    font-size: 22px!important;
}

.owl-prev {
    position: absolute;
    margin-left: 5px;
    top: 40%;
    width: 50px;
    height: 50px;
    background-color: #000!important;
    color: #fff!important;
}

.owl-next {
    position: absolute;
    right: 5px;
    top: 40%;
    width: 50px;
    height: 50px;
    background-color: #000!important;
    color: #fff!important;
}
.owl-prev i, .owl-next i {
    /*border-radius: 50%;*/
}

.category_logo {
    display: block;
    margin: auto;
}

#cart-result.dropdown-menu.show {
    left: -100px!important;
}

svg {
    width: 40px;
    height: 40px;
    fill: #fff;
}

.category-animate {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}